html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: #FDFDFD;
    color:  #425066;
    width: 100%;
}
html {
  scroll-behavior: smooth;
}

.main-content{
  height: 85vh;
  width: 100vw;
  background-color: #425066;
  color: #F1F1F4;
  font-weight: 100;
}


/*navbar*/
.navbar-brand{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #FF8300 !important;
  text-align: center;
  line-height: 20px;
}

.navbar{
  position: fixed;
  background-color: #425066;
  z-index: 200;
  width: 100vw;
  font-weight: 500 !important;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.navbar-toggler{
  color: #fff;
}

.navbar-nav {
  margin-right: 1.5em;
}

.navbar-nav a:hover{
  color: #FF8300;
}
/*navbar*/


.main-text{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-text h1{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5em;
}

.hello-div, 
.scroll-div{
  justify-content: center;
  align-items:center;
  text-align: center;
}

.main-text p{
  font-size: 22px;
}


/*scrolling button*/
#scroll{
  /* position: fixed; */
  /* margin-top: 10em; */
  /* display: block; */
}

#scroll-button{
background-color: #425066;
border: 0;
color: #fff;
font-weight: 400;
margin-top: 3em;
}

#scroll-icon{
display: block;
height: 15px;
margin-left: calc(50% - 8px);
margin-top: .5em;
color: #fff;
font-weight: 700;
cursor: pointer;
}
/*scrolling button*/



.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 60vh;
  width: 100vw;
}


/*about*/
.about{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 8em;
  margin-bottom: 3em; */
}

.about p{
  font-size: 20px;
}

.photo-about img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
}
/*about*/



/*projects*/
.icon{
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  margin-left: 12px;
 }
 .arrow{
   transform: rotate(320deg);
  }
 

/*moving icons*/

#a_first_github:hover  .icon  {
  transform: translate(10px);
}
#a_first_demo:hover .icon  {
  transform: translate(10px);
}

#a_second_github:hover  .icon  {
  transform: translate(10px);
}
#a_second_demo:hover .icon  {
  transform: translate(10px);
}

#a_third_github:hover  .icon  {
  transform: translate(10px);
}
#a_third_demo:hover .icon  {
  transform: translate(10px);
}
/*moving icons*/

#text-myworks,
 #text-myskills
{
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.projects_list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.common_project{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 36px rgba(0,0,0,0.1);
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}

.common_project:hover{
  color: white;
}

a {
    all: unset;
}

.common_project a:hover{
  all: unset;
}

.project_name{
  font-size: 25px;
  font-weight: 600;
}

.projects-examples{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.common_project:hover{
  background-color: #FF8300;
}

.project_img {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 60%;
}
/*projects*/



/* skills*/
.skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 
 .div-skill img{
   width: 65px;
 }
 
 .skills p{
   text-align: center;
   font-size: 20px;
   margin-top: .8em;
   color: #999;
 }
 
 .div-skill{
   width: 80%;
   display: flex;
  flex-direction: column;
  justify-content: center;
   align-items:  center; 
   text-align: center;
   box-shadow: 0 0 36px rgba(0,0,0,0.1);
   border-radius: 15px;
   margin-bottom: 1em;
   background-color: #fff;
 }

 .div-skill .row{
   width: 75%;
 }

 .skills h1{
 margin-top: 2em;
 margin-bottom: 2em;
 text-align: center;
 color: #FF8300;
 font-size: 20px;
 }

 .design img{
   padding: 0;
   margin: 0;
 }
 /* skills*/


@media (max-width: 1140px){
  .div-skill{
    width: 90vw;
  }
}

@media (max-width: 1000px){
  .content{
    height: 65vh;
    width: 85vw;
  }

  .div-skill{
    width: 100vw;
  }

  .common_project{
    height: 65vh;
    margin-top: 2.3em;
    font-size: 18px;
  }
}

@media (max-width: 756px){
  .content{
    width: 90vw;
    height: 75vh;
  }

  .project_img {
    height: 65%;
    margin-bottom: .4em;
  }

  .projects-examples{
    width: 80vw;
    justify-content:center;
  }
  .project_name{
    margin: 0;
  }

  .div-skill .row{
    width: 100%;
  }

  .div-skill .row p{
    font-size: 14px;
  }
  
  #text-myworks,
  #text-myskills
 {
   font-size: 27px;
   margin-bottom: 2em;
   margin-top: 2em;
 }
}

@media (max-width: 690px){
  /* .common_project{
  width: 50%;
}
  .project_img {
  width: 70%;
} */
.project_examples{
  width: ;
}
}

 @media (max-width: 613px){
  .skills img{
    width: 60px;
  }
}

@media (max-width: 468px){
  .content{
    width: 100vw;
    height: 85vh;
  }
  
  .hello-div h1{
    font-size: 35px;
  }
  
  .hello-div p {
    font-size: 22px;
  }

  .project_img {
    height: 70%;
  }

  .project_name{
    margin: 0;
  }

  .div-skill .row{
    width: 100%;
  }
}

@media (max-width: 375px){
  .content{
    height: 95vh;
  }
  .photo_about img{
    display: none;
  }
  .common_project{
    height: 55vh;
    margin-top: 3em;
    font-size: 16px;
  }
  .project_name{
    font-size: 16px;
  }
}

@media (max-width: 300px){
  .content{
    height: 110vh;
  }
}

@media (max-width: 220px){
  .content{
    height: 140vh;
  }
}


