
html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F6F6;
    overflow-x: hidden;
    width: 100%;
}

.navbar-brand{
  background-color: #f6f6f6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;

}
.greeting {
    background-image: url("img/code.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.navbar{
  width: 93.5vw;
  margin-left: 3.5%;
}

.navbar-nav li:hover{
    color: black;
}
h1{
  font-size: 1.5em;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;
}

button, .hello_text{
  margin-left: 5%;
  padding-top: 6em;
  margin-bottom: 1em;
}

.content{
 margin-top: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.about{
  background-color: #F1F1F4;
  width: 90vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.photo_about img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 14em;
}

.text_projects{
  text-align: center;
  margin-top: 5em;
}

.projects_examples{
  margin-top: 2em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:  center;
  text-align: center;
}
.projects_examples img{
  width: 350px;
  height: 350px;
}

.projects_examples img:hover{
  transform: scale(1.1);
  opacity: 80%;
}
.text_contact{
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

.contact{
  margin-left:3.5em;
  width: 90vw;
  cursor: pointer;
  margin-bottom: 5em;
}
.button_send{
  width: 300px;
}


@media (max-width: 1000px){
  .about{
   height: 70vh;
  }
}

@media (max-width: 770px){
  .photo_about img{
    margin-left: 7em;
  }

  .contact_form{
    width: 100vw;
    margin: -3em;
  }
  .btn_send{
    width: 100vw;
    text-align: center;
  }
  .button_send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    text-align: center;
  }

  .text_contact{
    text-align: center;
    margin-left: -3em;
  }
  .text-center{
    margin-left: -2em;
  }
}

@media (max-width: 460px){
  .photo_about img{
    margin-left: 3em;
  }
}

@media (max-width: 370px){
  .about{
    height: 100vh;
   }

   .photo_about img{
    margin-left: 2em;
  }
}

@media (max-width: 290px){
  .photo_about img{
    margin-left: -.5em;
  }

  .text-center{
    margin-left: -4em;
  }
}
